Repository depromeet/depromeet-makers-be, pull requests merged in 2024-05, with the labels that each got.

#3 feat: Member 도메인 설계
  build.gradle.kts
  src/main/kotlin/com/depromeet/makers/DepromeetMakersBeApplication.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/DefaultException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/DomainException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/MemberException.kt
  src/main/kotlin/com/depromeet/makers/domain/gateway/MemberGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/model/Member.kt
  src/main/kotlin/com/depromeet/makers/domain/model/MemberGeneration.kt
  src/main/kotlin/com/depromeet/makers/domain/model/MemberPosition.kt
  src/main/kotlin/com/depromeet/makers/domain/model/MemberRole.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/CreateNewMember.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/UpdateDefaultMemberPassCord.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/UpdateMemberPassCord.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/entity/MemberEntity.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/entity/MemberGenerationEntity.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/repository/JpaMemberRepository.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/MemberGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/SwaggerConfig.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebConfig.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebExceptionHandler.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebSecurityConfig.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/interceptor/WebRequestLogger.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/CreateMemberController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/request/CreateNewMemberRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/CreateNewMemberResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/ErrorResponse.kt
  src/main/kotlin/com/depromeet/makers/util/LoggingUtils.kt
  src/main/kotlin/com/depromeet/makers/util/UlidUtils.kt
  src/test/kotlin/com/depromeet/makers/DepromeetMakersBeApplicationTests.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/CreateNewMemberTest.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/UpdateDefaultMemberPassCordTest.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/UpdateMemberPassCordTest.kt
Labels: feature

#7 feat: 인증/인가 플로우 설계
  build.gradle.kts
  src/main/kotlin/com/depromeet/makers/domain/exception/AuthenticationException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/AuthorizationException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/MemberException.kt
  src/main/kotlin/com/depromeet/makers/domain/gateway/TokenGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/model/MemberRole.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GenerateTokenWithEmailAndPassCord.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/UpdateDefaultMemberPassCord.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/UpdateMemberPassCord.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/entity/MemberGenerationEntity.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/TokenGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/token/JWTTokenProvider.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebExceptionHandler.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebSecurityConfig.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/filter/JWTAuthenticationFilter.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/CreateMemberController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/MemberDefaultPassCordController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/MemberLoginController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/request/MemberDefaultPassCordRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/request/MemberLoginRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/MemberLoginResponse.kt
  src/main/kotlin/com/depromeet/makers/util/EncryptUtils.kt
  src/main/resources/application.yaml
  src/test/kotlin/com/depromeet/makers/domain/usecase/GenerateTokenWithEmailAndPassCordTest.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/UpdateDefaultMemberPassCordTest.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/UpdateMemberPassCordTest.kt
Labels: feature

#11 feat: 기수에 따른 모든 주차 Sessions 조회
  src/main/kotlin/com/depromeet/makers/domain/gateway/SessionGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/ViewSessions.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/repository/JpaSessionRepository.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/SessionGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/ViewSessionsController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/request/ViewSessionsRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/ViewSessionsResponse.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/ViewSessionsTest.kt
Labels: feature

#13 feat: 회원 API 고도화
  src/main/kotlin/com/depromeet/makers/domain/gateway/TokenGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GenerateTokenWithRefreshToken.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetMemberById.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/TokenGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/token/JWTTokenProvider.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/AuthController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/MeController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/MemberController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/MemberDefaultPassCordController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/MemberLoginController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/request/MemberRefreshTokenRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/MemberResponse.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/GenerateTokenWithRefreshTokenTest.kt
Labels: feature

#15 feat: Attendance 도메인 재설계, 출석 기능 구현
  src/main/kotlin/com/depromeet/makers/domain/exception/AttendanceException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/domain/gateway/AttendanceGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/gateway/SessionGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/model/Attendance.kt
  src/main/kotlin/com/depromeet/makers/domain/model/AttendanceStatus.kt
  src/main/kotlin/com/depromeet/makers/domain/model/Session.kt
  src/main/kotlin/com/depromeet/makers/domain/model/SessionAttendance.kt
  src/main/kotlin/com/depromeet/makers/domain/model/SessionType.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/CheckInSession.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/CreateNewSession.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/entity/AttendanceEntity.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/entity/SessionAttendanceEntity.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/entity/SessionEntity.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/repository/JpaAttendanceRepository.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/repository/JpaSessionRepository.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/AttendanceGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/SessionGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/CheckInController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/CreateNewSessionResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/UpdateSessionPlaceResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/UpdateSessionResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/ViewAttendanceStatsResponse.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/CheckInSessionTest.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/UpdateSessionPlaceTest.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/UpdateSessionTest.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/ViewSessionsTest.kt
Labels: feature

#17 feat: 나의 출석 정보 조회
  src/main/kotlin/com/depromeet/makers/domain/gateway/AttendanceGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/CheckInSession.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetMemberAttendances.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/repository/JpaAttendanceRepository.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/AttendanceGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebSecurityConfig.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/AttendanceController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/CheckInController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/ViewSessionsController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/AttendanceResponse.kt
  src/test/kotlin/com/depromeet/makers/domain/usecase/CheckInSessionTest.kt
Labels: feature

#19 feat: 이메일 존재유무 API 추가
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetMemberByEmail.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/AuthController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/CheckMemberExistsByEmailResponse.kt
Labels: feature

#21 feat: 계정 패스워드 발급여부 기존 API에 추가
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/AuthController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/CheckMemberExistsByEmailResponse.kt
Labels: feature

#23 feat: 누락된 description 필드 추가
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/ViewSessionsResponse.kt
Labels: feature

#25 refactor: update 기능 메서드 변경 post -> put
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/UpdateSessionController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/UpdateSessionPlaceController.kt
Labels: refactor

#29 feat: 현재 출석 상태 조회 기능 구현
  src/main/kotlin/com/depromeet/makers/domain/usecase/CheckInSession.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetCheckInStatus.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/repository/JpaSessionRepository.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/SessionGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/CheckInController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/CheckInStatusResponse.kt
Labels: feature

#31 feat: 출석 정책에 따른 설정값 세팅
  src/main/kotlin/com/depromeet/makers/domain/model/Attendance.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetCheckInStatus.kt
Labels: feature

#33 feat: 내 출석 조회에 결석 현황 응답값 추가
  src/main/kotlin/com/depromeet/makers/domain/gateway/SessionGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/model/Attendance.kt
  src/main/kotlin/com/depromeet/makers/domain/model/AttendanceStatus.kt
  src/main/kotlin/com/depromeet/makers/domain/model/Session.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetMemberAttendances.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/entity/AttendanceEntity.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/db/repository/JpaSessionRepository.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/SessionGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/AttendanceController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/AttendanceResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/MyAttendanceResponse.kt
Labels: feature

#35 feat: 주차, 팀 별 출석 현황 조회
  src/main/kotlin/com/depromeet/makers/domain/gateway/AttendanceGateway.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetAttendancesByTeamAndWeek.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/AttendanceGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/AttendanceController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/AttendanceResponse.kt
Labels: feature

#37 feat: 특정 주차의 세션 출석률 통계 조회 기능 구현
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/SessionException.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetAttendancesByWeek.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/AttendanceController.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/AttendanceStatsResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/dto/response/ViewAttendanceStatsResponse.kt
Labels: feature

#39 feat: 출석(체크인) 요청 성공 시 결과를 응답하도록 추가
  src/main/kotlin/com/depromeet/makers/domain/usecase/CheckInSession.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/controller/CheckInController.kt
Labels: feature

#41 feat: 세션 불참자 결석 처리 스케쥴러 구현
  src/main/kotlin/com/depromeet/makers/DepromeetMakersBeApplication.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/UpdateAbsenceMember.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/aspect/SchedulerLogger.kt
  src/main/kotlin/com/depromeet/makers/scheduler/AbsentMemberScheduler.kt
Labels: feature

#45 feat: JWT 토큰 관련 에러 처리하기
  src/main/kotlin/com/depromeet/makers/domain/exception/AuthenticationException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/token/JWTTokenProvider.kt
Labels: feature

#50 feat: 기본 오류 (404, 405 등) 분기처리하기
  src/main/kotlin/com/depromeet/makers/domain/exception/DefaultException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebExceptionHandler.kt
Labels: feature

#54 feat: Unhandled Exception 슬랙 알림
  build.gradle.kts
  src/main/kotlin/com/depromeet/makers/ApplicationBootStrapEventListener.kt
  src/main/kotlin/com/depromeet/makers/DepromeetMakersBeApplication.kt
  src/main/kotlin/com/depromeet/makers/domain/gateway/AlertGateway.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/gateway/AlertGatewayImpl.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/restapi/SlackAPI.kt
  src/main/kotlin/com/depromeet/makers/infrastructure/restapi/dto/SlackWebHookRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebExceptionHandler.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/filter/RequestBodyCacheFilter.kt
  src/main/resources/application.yaml
Labels: feature

#52 feat: 스웨거 API주소, 인증 기능 관련 추가
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/SwaggerConfig.kt
Labels: feature

#60 fix: 출석 조회시 마다 생성되는 버그 수정
  README.md
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetMemberAttendances.kt
Labels: bug, fix

#62 feat: 출석 정보 save 로직 제거
  src/main/kotlin/com/depromeet/makers/domain/exception/AttendanceException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/domain/usecase/GetMemberAttendances.kt
  src/main/kotlin/com/depromeet/makers/presentation/restapi/config/WebConfig.kt
Labels: feature

#70 chore: log 추가
  src/main/kotlin/com/depromeet/makers/domain/usecase/CheckInSession.kt
Labels: chore

#78 feat: 프로젝트 CI/CD 구축
  .github/workflows/build-and-deploy.yaml
Labels: feature

#53 feat: Flyway 마이그레이션 스크립트 추가
  .jpb/jpb-settings.xml
  src/main/resources/V1__init.sql
  src/main/resources/application.yaml
Labels: feature
