Repository depromeet/depromeet-makers-be, pull requests merged in 2025-03, with the labels that each got.

#158 chore: 몽고디비 셋업
  src/main/kotlin/com/depromeet/makers/config/MongoConfig.kt
  src/main/kotlin/com/depromeet/makers/service/TestService.kt
  src/main/resources/application.properties
  src/main/resources/application.yaml
Labels: chore

#157 feat: 사용자를 추가하고, 소셜 로그인 기능을 만들었어요
  build.gradle.kts
  src/main/kotlin/com/depromeet/makers/DepromeetMakersBeApplication.kt
  src/main/kotlin/com/depromeet/makers/components/JWTTokenProvider.kt
  src/main/kotlin/com/depromeet/makers/components/SocialLoginProvider.kt
  src/main/kotlin/com/depromeet/makers/config/SwaggerConfig.kt
  src/main/kotlin/com/depromeet/makers/config/WebConfig.kt
  src/main/kotlin/com/depromeet/makers/config/WebExceptionHandler.kt
  src/main/kotlin/com/depromeet/makers/config/WebSecurityConfig.kt
  src/main/kotlin/com/depromeet/makers/config/filters/JWTAuthenticationFilter.kt
  src/main/kotlin/com/depromeet/makers/config/properties/AppProperties.kt
  src/main/kotlin/com/depromeet/makers/domain/Member.kt
  src/main/kotlin/com/depromeet/makers/domain/SocialCredentials.kt
  src/main/kotlin/com/depromeet/makers/domain/Test.kt
  src/main/kotlin/com/depromeet/makers/domain/enums/MemberRole.kt
  src/main/kotlin/com/depromeet/makers/domain/enums/SocialCredentialsProvider.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/DomainException.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/domain/vo/TokenPair.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/AuthController.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/TestController.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/request/AppleLoginRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/request/KakaoLoginRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/request/RefreshTokenRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/request/TestRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/response/AppleKeyResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/response/AuthenticationResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/response/DefaultResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/response/KakaoAccountResponse.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/response/TestResponse.kt
  src/main/kotlin/com/depromeet/makers/repository/MemberRepository.kt
  src/main/kotlin/com/depromeet/makers/repository/SocialCredentialsRepository.kt
  src/main/kotlin/com/depromeet/makers/repository/client/AppleAuthClient.kt
  src/main/kotlin/com/depromeet/makers/repository/client/KakaoAuthClient.kt
  src/main/kotlin/com/depromeet/makers/service/AuthService.kt
  src/main/kotlin/com/depromeet/makers/service/TestService.kt
  src/main/kotlin/com/depromeet/makers/util/Logger.kt
  src/main/resources/application.yaml
Labels: feature, chore

#159 feat: Session에 대한 CRUD 로직 구현
  src/main/kotlin/com/depromeet/makers/config/properties/AppProperties.kt
  src/main/kotlin/com/depromeet/makers/domain/Session.kt
  src/main/kotlin/com/depromeet/makers/domain/enums/SessionType.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/domain/vo/Code.kt
  src/main/kotlin/com/depromeet/makers/domain/vo/SessionPlace.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/SessionController.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/request/SessionRequest.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/response/SessionResponse.kt
  src/main/kotlin/com/depromeet/makers/repository/SessionRepository.kt
  src/main/kotlin/com/depromeet/makers/service/AuthService.kt
  src/main/kotlin/com/depromeet/makers/service/SessionService.kt
  src/main/kotlin/com/depromeet/makers/util/AuthenticationUtil.kt
  src/main/resources/application.yaml
Labels: feature

#161 feat: jib 빌드 환경 구성
  build.gradle.kts
  src/main/kotlin/com/depromeet/makers/config/SwaggerConfig.kt
  src/main/kotlin/com/depromeet/makers/config/WebConfig.kt
Labels: feature

#163 feat: member domain 작성
  src/main/kotlin/com/depromeet/makers/config/WebExceptionHandler.kt
  src/main/kotlin/com/depromeet/makers/domain/Member.kt
  src/main/kotlin/com/depromeet/makers/domain/enums/MemberPosition.kt
  src/main/kotlin/com/depromeet/makers/domain/enums/MemberStatus.kt
  src/main/kotlin/com/depromeet/makers/domain/enums/WebsiteType.kt
  src/main/kotlin/com/depromeet/makers/domain/exception/ErrorCode.kt
  src/main/kotlin/com/depromeet/makers/domain/vo/Image.kt
  src/main/kotlin/com/depromeet/makers/domain/vo/MemberLink.kt
  src/main/kotlin/com/depromeet/makers/domain/vo/TeamHistory.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/AuthController.kt
  src/main/kotlin/com/depromeet/makers/presentation/web/dto/request/TestLoginRequest.kt
  src/main/kotlin/com/depromeet/makers/service/AuthService.kt
Labels: feature
